<!DOCTYPE html>
<html>
    <head>
        <title>Universal React App</title>
    </head>
    <body>
        <div id="main"><%- result -%></div>
    </body>
    <script src="http://127.0.0.1:8080/bundle.js"></script>
</html>